@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 12%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
}

img {
    border-radius: 100px;
    width: 100px;
    margin: 10px 0 20px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    font-weight: 600;
}

p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    margin: 30px 0;
    font-weight: 300;
}

.social {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 14px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 8px;
    margin-top: 15px;
    padding: 15px 0;
}